.banner {
    background-color: #fff;
    width: 100%;
    height: 15%;
}

.banner_image {
    background: url('../images/crawford_banner.png');
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    position:relative;
    left:0; right:0;
    top:0; bottom:0;
	margin:auto;
	overflow:auto;
	background-position: center;
}